body {
  background: url(../images/mazeBg.png);
  color: #414142;
}

a, a:hover {
  color: #701471;
}

b, .bold, .key {
  color: #19a3e0;
  text-shadow: 1px 1px 0.1em rgba(25, 163, 224, 0.9),
               1px 1px 3.5em rgba(25, 163, 224, 0.5);
}

ul {
  float: left !important;
}

p {
  margin: 0;
}

h1 {
  color: #e7e7e7;
}

h6 {
  font-size: 0.7em;
  color: #e8e8e8 !important;
}

li {
  color: #414142; /*charcoal*/
  font: 0.8em 'Helvetica Neue', 'Helvetica';
  line-height: 1.5;
  margin-bottom: 1em;
}

.paper {
  background: url(../images/_.png) center 9% no-repeat #fff;
  -webkit-box-shadow: 5px 5px 5px #666;
     -moz-box-shadow: 5px 5px 5px #666;
          box-shadow: 5px 5px 5px #666;
  padding: 1em;
  margin: 1.5em 0 1.5em 0;
}

.header {
  color: #701471; /*purple*/
  text-align: center;
  text-shadow: 1px 1px 0.1em rgba(112, 20, 113, 0.9),
               1px 1px 3.5em rgba(112, 20, 113, 0.5);
}

.jobTitle {
  color: #701471;
  text-shadow: 1px 1px 0.1em rgba(112, 20, 113, 0.9),
               1px 1px 3.5em rgba(112, 20, 113, 0.5);
}

.background {
  margin-left: 0.7em;
}

.subscript {
  position: relative;
  top: 13px;
  left: -3px;
  margin: 0;
  padding: 0;
}

.sectionTitle {
  color: #19a3e0; /*blue*/
  margin-left: 1em;
}

.items {
  margin-left: 4em;
}

.experienceField .items {
  margin: 0 4em;
}

.contact {
  text-align: center;
}

div.contact.row {
  margin: 0 1em;
}

.value {
  color: #701471;
}

.escape {
  margin-top: 0.6em;
}

.githubLogo {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 32px;
  height: 32px;
  margin: 0.5em 0.5em 0 0;
}

.instructions {
  text-align: center;
  font-family: courier;
}
